@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

$c-light : #EBF2FA;
$c-dark : #0A3140;
$c-secondary: #81b944;
$c-danger: #ee3e23;
$c-third: #68B0AB;

@font-face {
    font-family: "Pettingill";
    src: url("/assets/fonts/PettingillCF-Bold.otf");
} 

* {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.4;
    color: $c-dark;
}

html {
    @media (min-width:1400px){
        font-size: 16px;
    }

    @media (min-width:1200px){
        font-size: 12px;
    }
}

fieldset {
  border:0;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

button {
    cursor: pointer;
    border:0;
}

button, input:not([type="file"]), textarea, select {
    padding: 0.5rem 0.8rem;
}

button {
  background-color: $c-secondary;
  font-size: 1.4rem;
  color:$c-dark;
  position:relative;
  text-transform: uppercase;
  font-weight: 800;

  &:hover {
    background-color: darken($c-secondary, 10%);
  }
}

.link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    background-color: $c-light;
    overflow-x: hidden;
}

.container {
    display:flex;
    width:100%;
    position: relative;
    margin-left:auto;
    margin-right:auto;

    @media (min-width: 1700px) {
        &.container--large {
            max-width: calc(1600px - 2rem);
        }
    }

    @media (min-width: 1600px) and (max-width: 1699px) {
        &.container--large {
            max-width: calc(1480px - 2rem);
        }
    }

    @media (min-width:1380px){
        max-width: calc(1280px - 2rem);
    }

    @media (min-width:800px){
        &.container--small {
            max-width: calc(700px - 2rem);
        }
    }

    @media (max-width:800px){
        &.container--small {
            max-width: calc(500px - 2rem);
        }
    }

    @media (max-width: 600px){
        max-width: calc(100vw - 40px);
    }
}

main {
  flex:1;
}


h1 {
    margin: 4rem auto 2rem 0;
    font-size: 4rem;
}

header.nav-header {

    background-color: $c-dark;
    color: $c-light;
    border-bottom:1px dashed $c-light;
    width:100vw;

    .container {
        display: flex;
        justify-content: space-between;
    }
    a {
        padding-top:1rem;
        padding-bottom:1rem;

        &:hover {
            .logo, .logo span {
                color: darken($c-light, 5%);
            }
        }

        .logo {
            font-family: "Pettingill";
            font-size: 3rem;
            line-height: normal;
            position: relative;
            color: $c-light;
            margin-bottom: 2.4rem;
            display: block;
            
    
            span {
                font-family: "Pettingill";
                position: absolute;
                top: 2rem;
                left: 50%;
                color: $c-light;
            }
        }
    }
    

    nav {
        display: flex;
        align-items: center;
        overflow: hidden;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            height:100%;
    
            li {
                position:relative;
                height: 100%;
                display:flex;
                align-items: center;

                &:first-child a {
                    border-left:1px dashed $c-light;
                }
                

                a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    padding: 0 3rem;
                    height: 140%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    border-right: 1px dashed $c-light;
                    overflow: hidden;

                    span {
                        color:$c-light;
                    }

                    &:hover {
                        background-color: lighten($c-dark, 10%);
                    }

                
                }
            }
    
    
            
        }
    }
}

main {
    flex-direction: column;

}

.tns-outer {
    position: relative;
    margin-bottom:4rem;
    overflow: auto !important;

    .tns-controls {
        position: absolute;
        z-index: 9;
        top: 50%;
        transform: translateY(-50%);
        width:100%;
        display: flex;
        justify-content: space-between;

        button {
            border: 1px dashed $c-dark;

            &:first-child {
                border-left:0;
            }
            &:last-child {
                border-right:0;
            }
        }
    }

    .tns-ovh {
        overflow: visible !important;
        overflow-x: hidden !important;
    }

    .recent-gigs-slider {
        
        .recent-gigs-slider__slide {
            aspect-ratio: 16/5;
            height: 100%;
            position: relative;
            margin-bottom:4rem;

            .recent-gigs-slider__image {
                width:100%;
                height:100%;
                filter: contrast(0.8);
                background-position: center center;
                background-size: cover;
            }

            .recent-gigs-slider__information {
                position: absolute;
                bottom: -4rem;
                right: 4rem;
                padding: 1rem;
                background-color: $c-secondary;
                color: $c-dark;
                display: flex;
                flex-direction: column;
                z-index:9;
                border:1px dashed $c-dark;

                .recent-gigs-slider__date {
                    position: absolute;
                    font-weight:800;
                    padding: 0.5rem;
                    border:1px dashed $c-dark;
                    border-right: 0;
                    top: -1px;
                    right: calc(100% + 1px);
                    font-size:1.4rem;
                    background-color: $c-secondary;
                    color:$c-dark;
                    display:flex;
                    flex-direction: column;
                    justify-items: center;

                    > span {
                        display: inline;
                        text-align:center;

                        &:not(:last-child){
                            position:relative;
                            border-bottom: 1px dashed $c-dark;
                        }
                    }
                }
            }

            h3, h4, h3 span {
                font-family: "Pettingill";
            }

            h3 {
                font-size: 3rem;
                margin-bottom: 0;
                line-height: 1;

                span {
                    font-size: 1rem;
                    margin-left:0.5rem;
                }
            }

            h4 {
                font-size:2rem;
            }

            .recent-gigs-slider__link {
                font-size: 1.2rem;
                font-weight:600;
                margin-bottom:1rem;
                text-decoration: none;
                transition: all 0.5s ease-in-out;

                &:hover {
                    margin-left:1rem;
                }
            }

            .recent-gigs-slider__ticket-btn {
                width:100%;
                height:3rem;
                background-color: $c-dark;
                color: $c-light;
                text-transform: uppercase;

                &:hover {
                    background-color: darken($c-dark, 5%);
                }
            }
        }
    } 
}

.news-recent {
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;

    h2 {
        font-size:3rem;
        margin-bottom: 2rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        
        .news-recent__link {
            border:1px dashed $c-light;
            background-color: $c-dark;
            display: block;
            transition: all 1s ease-in-out;

            * {
                transition: all 1s ease-in-out;
            }

            &:hover {
                background-color: darken($c-dark, 5%);

                .news-recent__read-more {
                    margin-left:1rem;
                }

                img {
                    filter: grayscale(70%);
                }
            }

            article {
                display:flex;
                flex-direction: column;
                height:100%;

                img {
                    width:100%;
                    height:auto;
                    aspect-ratio: 1/1;
                    border-bottom:1px dashed $c-light;
                }

                .news-recent__title-wrapper {
                    padding:2rem 1rem;

                    h3 {
                        font-size: 2rem;
                        font-weight: 800;
                        margin-bottom:0.5rem;
                        color:$c-light;
                    }
    
                    .news-recent__read-more {
                        color:$c-light;
    
                        i {
                            margin:0 0.5rem 0 0.3rem;
                            color: $c-light;
                        }
                    }

                }
    
                
    
                .news-recent__date {
                    font-size: 1.4rem;
                    margin-top: auto;
                    border-top: 1px dashed $c-light;
                    background-color: $c-dark;
    
                    span{
                        color:$c-light;
                        padding: 1rem;
                        border-right:1px dashed $c-light;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.gigs-container {
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;
    
    h2 {
        font-size:3rem;
        margin-bottom: 2rem;
    }

    .gigs {
        display: flex;
        flex-direction: column;
        width:100%;
        border: 1px dashed $c-dark;
    
        a {
            color: $c-dark;
            text-decoration: none;
            background-color: $c-light;
            transition: all 0.5s ease-in-out;
    
            &:not(:last-child){
                border-bottom: 1px dashed $c-dark;
            }
    
            &:hover {
                background-color: darken($c-light, 10%);
    
                article .gig__info .gig__date > span:not(:last-child)::after {
                    right: 1.5rem;
                }
    
                article img {
                    filter:brightness(0.7);
                }
            }
    
            article {
                transition: all 0.5s ease-in-out;
                display: flex;
    
                .gig__image-wrapper {
                    min-width: 200px;
                    height: auto;
                    border-right: 1px dashed $c-dark;
                    transition: all 0.5s ease-in-out;
                    background-position: center center;
                    background-size: cover;
                    aspect-ratio: 1 / 1;
                }
    
                .gig__info {
                    display: flex;
    
                    .gig__date {
                        padding: 2rem;
                        display: inline-flex;
                        flex-direction: column;
                        justify-content: center;
                        border-right: 1px dashed $c-dark;
    
                        > span {
                            font-size:3rem;
                            font-weight: 800;
                            display: inline;
                            margin-right:auto;
    
                            &:not(:last-child){
                                position:relative;
                                
                                &::after {
                                    content: "";
                                    position: absolute;
                                    bottom: -1rem;
                                    right: -0.5rem;
                                    transform: rotate(90deg);
                                    width: 0.5rem;
                                    height: 2rem;
                                    background-color: $c-dark;
                                    transition: all 0.5s ease-in-out;
                                }
                            }
                        }
    
                        .gig__month {
                            margin-left:2rem;
                        }
    
                        .gig__year {
                            margin-left:4rem;
                        }
                    }
    
                    .gig__bands {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding:2rem;
    
                        .gig__headliner {
                            font-size:5rem;
                            line-height: 1;
                            font-family: "Pettingill";
        
                            span {
                                font-size:1.5rem;
                                margin-left:0.5rem;
                                font-family: "Pettingill";
                            }
                        }
                        
                        .gig__support {
                            font-size:2.5rem;
                            font-family: "Pettingill";
                        }
                    }
                }
            }
        }
    }
}
.gigs {
    display: flex;
    flex-direction: column;
    width:100%;
    border: 1px dashed $c-dark;
    margin-bottom:2rem;

    a {
        color: $c-dark;
        text-decoration: none;
        background-color: $c-light;
        transition: all 0.5s ease-in-out;

        &:not(:last-child){
            border-bottom: 1px dashed $c-dark;
        }

        &:hover {
            background-color: darken($c-light, 10%);

            article .gig__info .gig__date > span:not(:last-child)::after {
                right: 1.5rem;
            }

            article img {
                filter:brightness(0.7);
            }
        }

        article {
            transition: all 0.5s ease-in-out;
            display: flex;

            img {
                max-width: 200px;
                height: auto;
                border-right: 1px dashed $c-dark;
                transition: all 0.5s ease-in-out;
            }

            .gig__info {
                display: flex;

                .gig__date {
                    padding: 2rem;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    border-right: 1px dashed $c-dark;

                    > span {
                        font-size:3rem;
                        font-weight: 800;
                        display: inline;
                        margin-right:auto;

                        &:not(:last-child){
                            position:relative;
                            
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -1rem;
                                right: -0.5rem;
                                transform: rotate(90deg);
                                width: 0.5rem;
                                height: 2rem;
                                background-color: $c-dark;
                                transition: all 0.5s ease-in-out;
                            }
                        }
                    }

                    .gig__month {
                        margin-left:2rem;
                    }

                    .gig__year {
                        margin-left:4rem;
                    }
                }

                .gig__bands {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding:2rem;

                    .gig__headliner {
                        font-size:5rem;
                        line-height: 1;
                        font-family: "Pettingill";
    
                        span {
                            font-size:1.5rem;
                            margin-left:0.5rem;
                            font-family: "Pettingill";
                        }
                    }
                    
                    .gig__support {
                        font-size:2.5rem;
                        font-family: "Pettingill";
                    }
                }
            }
        }
    }
}

.single-gig {
    display: flex;
    flex-direction: column;
    position: relative;

    &__bands-date-wrapper {

            .single-gig__image {
                position: absolute;
                top:0;
                left:20vw;
                width:80vw;
                right:0;
                height:calc(100vh - 8rem);
                z-index: -1;
                object-fit: cover;
            }
            
            .single-gig__bands-date-wrapper {
                display: flex;
                flex-direction: column;

                > .container {
                    overflow-y: hidden;
                }

                .single-gig__bands-wrapper {
                    display:flex;
                    flex-direction: column;
                    z-index: 9;
    
                    .single-gig__headliner {                        
                        padding: 0.7rem;
                        line-height: 1;
                        font-family: "Pettingill";
                        background-color: $c-secondary;
                        border: 1px dashed $c-dark;
                        font-size:4rem;
                        margin: 1rem 0 1rem 0;
                
                        span {
                            font-size:1.5rem;
                            margin-left:0.5rem;
                            font-family: "Pettingill";
                            background-color: $c-secondary;
                        }
                    }
                    .single-gig__support {
                        padding:0.7rem;
                        font-size:2rem;
                        font-family: "Pettingill";
                        margin-bottom:1rem;
                        background-color: $c-secondary;
                        margin-right: auto;
                        border: 1px dashed $c-dark;
                    }
                }
                .single-gig__info-button-wrapper {
                    margin-right:auto;
                    .single-gig__extra-info-wrapper {
                        display: flex;
                        flex-direction: column;
                        background-color: $c-dark;
                        padding: 1.5rem;                        z-index: 9;
                        border: 1px dashed $c-light;

                        .single-gig__explanation {
                            font-size: 1.2rem;
                            font-family: "Pettingill";
                            color: $c-light;
                            margin: 0 auto 0 2rem;
                            position: relative;

                            &::before, &::after {
                                content: ". . . . .";
                                position: absolute;
                                bottom:21%;
                                letter-spacing: -2px;
                            }
                            &::before {
                                left: -2rem;
                            }
                            &::after {
                                right: -2rem;
                            }
                        }
                    

                        .single-gig__date {
                            display: flex;
                            margin-bottom:1.5rem;
                
                            > span {
                                font-size:2.4rem;
                                font-weight: 800;
                                display: inline;
                                color: $c-light;
                                line-height: 1;
                
                                &:not(:last-child){
                                    position:relative;
                                    margin-right:1.8rem;
                                    
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        bottom: 0.8rem;
                                        right: -1.9rem;
                                        transform: rotate(-38deg);
                                        width: 1.8rem;
                                        height: 0.4rem;
                                        background-color: $c-light;
                                        transition: all 0.5s ease-in-out;
                                    }
                                    
                                }
                
                                .gig__month {
                                    margin-left:2rem;
                                }
                
                                .gig__year {
                                    margin-left:4rem;
                                }
                            }
                        }

                        .single-gig__venue {
                            font-size:2.4rem;
                            font-weight: 800;
                            color: $c-light;
                            line-height: 1;
                            margin-bottom:2rem;
                        }
                        .single-gig__timings {
                            margin-bottom:1.5rem;

                            .single-gig__timing {

                                span:first-child {
                                    font-size:1rem;
                                    font-weight: 500;
                                    color: $c-light;
                                    width: 3.8rem;
                                    display: inline-block;
                                }
        
                                span:last-child {
                                    font-size:1.7rem;
                                    font-weight: 800;
                                    color: $c-light;
                                }
                        }
                        

                            // &:not(.single-gig__timings--doors) span:last-child {
                            //     font-size:2rem;
                            //     font-family: "Pettingill";
                            //     color: $c-light;
                            // }
                            
                        }

                        .single-gig__ticket-prices {

                            > p {
                                color: $c-light;
                                font-size: 1.6rem;
                                font-weight: 800;
                                
                                .single-gig__ticket-type {
                                    font-size:0.8rem;
                                    font-weight: 500;
                                    color: $c-light;
                                    margin-left:0.3rem;
                                }
                            }
                        }
                    }

                    .single-gig__ticket-button-wrapper {
                        
                        border: 1px dashed $c-dark;
                        border-top:0;
                        width:100%;

                        button {
                            width:100%;
                            height:3rem;
                        }
                    }
                }
            }
        }
    
    

    &__description {
        display:flex;
        flex-direction: column;
        margin: 2rem auto;

        section {
            &:not(:last-child) {
                margin-bottom: 4rem;
            }

            header {
                display:flex;
                margin-bottom: 1rem;
                border-bottom: 5px solid $c-dark;

                h2 {
                    font-size: 3rem;
                    font-family: "Pettingill";
                    padding-right:2rem;
                }

                .single-gig__social-media-wrapper {
                    border-left: 5px solid $c-dark;
                    font-size:2rem;
                    padding-left: 2rem;
                    display: flex;
                    align-items: center;

                    a:not(:last-child) {
                        margin-right: 1rem;
                    }

                    a:hover {
                        i {
                            color: lighten($c-dark, 10%);
                        }
                    }
                }
            }

            p {
                font-size:1.5rem;
                line-height: 1.5;
    
                &:not(:last-child) {
                    margin-bottom:1rem;
                }
            }
        }

        
    }
}

.news__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:4rem;

    .news__link {
        text-decoration: none;

        &:not(:first-child) {
            aspect-ratio: 1/1;
        }

        &:first-child {
            grid-column: 1 / 4;
            aspect-ratio: 3 / 1;
        }

        &:hover {
            .news__image {
                transform: scale(1.1);
            }

            .news__item .news__content {
                bottom:3rem;
            }
        }

        .news__item {
            border:1px dashed $c-light;
            width: 100%;
            height: 100%;
            position:relative;
            overflow:hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                transition: all 1s ease-in-out;
            }

            .news__content {
                position: absolute;
                top: 1rem;
                left: 1rem;
                right: 1rem;
                bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                transition: all 1s ease-in-out;

                p {
                    background-color: $c-secondary;
                    padding:0.4rem;
                    font-weight: 800;
                    display: inline-block;
                    margin-right: auto;
                    border: 1px dashed $c-dark;
                    border-bottom: 0;

                    span {
                        &:not(:last-child){
                            border-right: 1px dashed $c-dark;
                            padding-right: 0.4rem;
                        }
                    }
                }
    
                h3 {
                    background-color: $c-secondary;
                    font-size:3rem;
                    padding:0.8rem;
                    display: inline-block;
                    margin-right: auto;
                    line-height: 1;
                    font-family: 'Pettingill';
                    border: 1px dashed $c-dark;
                }
            }
            
        }
    }
}

.single-news__image {
    width:100%;
    height: 70vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom:1px dashed $c-dark;

    header {
        background-color: $c-light;
        margin:0 auto -1px 0;
        padding:2rem;
        border: 1px dashed $c-dark;
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 70%;
        background-color: $c-secondary;
        
        &::after {
            content:'';
            position: absolute;
            height:1rem;
            width:60%;
            bottom:-0.5rem;
            left:2rem;
            background-color: $c-dark;
        }

        time {
            margin-right: auto;

            span {
                font-size: 1.5rem;
                font-weight: bold;
            }
            padding-bottom:0.5rem;
            border-bottom: 0.5rem solid $c-dark;
            margin-bottom:2rem;
        }

        h1 {
            line-height: 1;
            font-family: 'Pettingill';
            font-size: 6rem;
            margin:0;
        }
    }
}

.single-news__body {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border:1px dashed $c-dark;
    border-top:0;
    width:80%;
    margin-right:auto;
    margin-bottom:4rem;
    background-color: $c-secondary;

    p {
        font-size:1.5rem;
        line-height: 1.5;
        
        &:not(:last-child) {
            margin-bottom:1rem;
        }
    }
}

.single-news__other-items {
    width:20%;
    border:1px dashed $c-dark;
    display:flex;
    flex-direction: column;
    margin-bottom:auto;

    a {
        padding:2rem;
        border-bottom: 1px dashed $c-dark;
        border-left:0;
        text-decoration: none;

        time {
            margin-bottom:0.5rem;
        }
        
        img {
            width:100%;
            height:auto;
            margin-bottom: 1rem;
        }
    }
}

.about-us__content {
    display: flex;
    flex-direction: column;

    p {
        font-size:1.5rem;
        line-height: 1.5;
        
        &:not(:last-child) {
            margin-bottom:1rem;
        }
    }
}

.contact__message {
    font-size: 1.5rem;
    margin-bottom:1rem;
}

.contact__link {
    font-size: 1.1rem;

    a {
        text-decoration: none;
        transition: all 1s ease-in-out;

        &:hover {
            padding-left:1rem;
        }
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;

    label {
        margin-bottom: 0.5rem;
    }

    input, textarea {
        margin-bottom: 1rem;
    }
}

footer {
    padding: 2rem 0;
    background-color: $c-dark;
    width: 100vw;
    
    p {
        color: $c-light;
    }
}