@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Pettingill";
  src: url("/assets/fonts/PettingillCF-Bold.otf");
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  color: #0A3140;
}

@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

fieldset {
  border: 0;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: 0;
}

p a {
  border-bottom: 2px dashed currentColor;
  text-decoration: none;
}

p a:hover {
  border-bottom: 2px solid currentColor;
}

button, input:not([type="file"]), textarea, select {
  padding: 0.5rem 0.8rem;
}

button {
  background-color: #81b944;
  font-size: 1.4rem;
  color: #0A3140;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}

button:hover {
  background-color: #679436;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #EBF2FA;
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1700px) {
  .container.container--large {
    max-width: calc(1600px - 2rem);
  }
}

@media (min-width: 1600px) and (max-width: 1699px) {
  .container.container--large {
    max-width: calc(1480px - 2rem);
  }
}

@media (min-width: 1380px) {
  .container {
    max-width: calc(1280px - 2rem);
  }
}

@media (min-width: 800px) {
  .container.container--small {
    max-width: calc(700px - 2rem);
  }
}

@media (max-width: 800px) {
  .container.container--small {
    max-width: calc(500px - 2rem);
  }
}

@media (max-width: 600px) {
  .container {
    max-width: calc(100vw - 40px);
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h1 {
  margin: 4rem auto 2rem 0;
  font-size: 4rem;
}

header.nav-header {
  background-color: #0A3140;
  color: #EBF2FA;
  border-bottom: 1px dashed #EBF2FA;
  width: 100vw;
}

header.nav-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav-header a {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header.nav-header a:hover .logo, header.nav-header a:hover .logo span {
  color: #d7e5f5;
}

header.nav-header a .logo {
  font-family: "Pettingill";
  font-size: 3rem;
  line-height: normal;
  position: relative;
  color: #EBF2FA;
  margin-bottom: 2.4rem;
  display: block;
}

header.nav-header a .logo span {
  font-family: "Pettingill";
  position: absolute;
  top: 2rem;
  left: 50%;
  color: #EBF2FA;
}

header.nav-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

header.nav-header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header.nav-header nav ul li {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.nav-header nav ul li:first-child a {
  border-left: 1px dashed #EBF2FA;
}

header.nav-header nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 3rem;
  height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-right: 1px dashed #EBF2FA;
  overflow: hidden;
}

header.nav-header nav ul li a span {
  color: #EBF2FA;
}

header.nav-header nav ul li a:hover {
  background-color: #11536c;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tns-outer {
  position: relative;
  margin-bottom: 4rem;
  overflow: auto !important;
}

.tns-outer .tns-controls {
  position: absolute;
  z-index: 9;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tns-outer .tns-controls button {
  border: 1px dashed #0A3140;
}

.tns-outer .tns-controls button:first-child {
  border-left: 0;
}

.tns-outer .tns-controls button:last-child {
  border-right: 0;
}

.tns-outer .tns-ovh {
  overflow: visible !important;
  overflow-x: hidden !important;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide {
  aspect-ratio: 16/5;
  height: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__image {
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
  background-position: center center;
  background-size: cover;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information {
  position: absolute;
  bottom: -4rem;
  right: 4rem;
  padding: 1rem;
  background-color: #81b944;
  color: #0A3140;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9;
  border: 1px dashed #0A3140;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information .recent-gigs-slider__date {
  position: absolute;
  font-weight: 800;
  padding: 0.5rem;
  border: 1px dashed #0A3140;
  border-right: 0;
  top: -1px;
  right: calc(100% + 1px);
  font-size: 1.4rem;
  background-color: #81b944;
  color: #0A3140;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information .recent-gigs-slider__date > span {
  display: inline;
  text-align: center;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information .recent-gigs-slider__date > span:not(:last-child) {
  position: relative;
  border-bottom: 1px dashed #0A3140;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3, .tns-outer .recent-gigs-slider .recent-gigs-slider__slide h4, .tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3 span {
  font-family: "Pettingill";
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3 {
  font-size: 3rem;
  margin-bottom: 0;
  line-height: 1;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3 span {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h4 {
  font-size: 2rem;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__link {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__link:hover {
  margin-left: 1rem;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__ticket-btn {
  width: 100%;
  height: 3rem;
  background-color: #0A3140;
  color: #EBF2FA;
  text-transform: uppercase;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__ticket-btn:hover {
  background-color: #07202a;
}

.news-recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.news-recent h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.news-recent__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.news-recent__wrapper .news-recent__link {
  border: 1px dashed #EBF2FA;
  background-color: #0A3140;
  display: block;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.news-recent__wrapper .news-recent__link * {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.news-recent__wrapper .news-recent__link:hover {
  background-color: #07202a;
}

.news-recent__wrapper .news-recent__link:hover .news-recent__read-more {
  margin-left: 1rem;
}

.news-recent__wrapper .news-recent__link:hover img {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.news-recent__wrapper .news-recent__link article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.news-recent__wrapper .news-recent__link article img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-bottom: 1px dashed #EBF2FA;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper {
  padding: 2rem 1rem;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: #EBF2FA;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper .news-recent__read-more {
  color: #EBF2FA;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper .news-recent__read-more i {
  margin: 0 0.5rem 0 0.3rem;
  color: #EBF2FA;
}

.news-recent__wrapper .news-recent__link article .news-recent__date {
  font-size: 1.4rem;
  margin-top: auto;
  border-top: 1px dashed #EBF2FA;
  background-color: #0A3140;
}

.news-recent__wrapper .news-recent__link article .news-recent__date span {
  color: #EBF2FA;
  padding: 1rem;
  border-right: 1px dashed #EBF2FA;
  display: inline-block;
}

.gigs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.gigs-container h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.gigs-container .gigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px dashed #0A3140;
}

.gigs-container .gigs a {
  color: #0A3140;
  text-decoration: none;
  background-color: #EBF2FA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs-container .gigs a:not(:last-child) {
  border-bottom: 1px dashed #0A3140;
}

.gigs-container .gigs a:hover {
  background-color: #c2d7f0;
}

.gigs-container .gigs a:hover article .gig__info .gig__date > span:not(:last-child)::after {
  right: 1.5rem;
}

.gigs-container .gigs a:hover article img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.gigs-container .gigs a article {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs-container .gigs a article .gig__image-wrapper {
  min-width: 200px;
  height: auto;
  border-right: 1px dashed #0A3140;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-position: center center;
  background-size: cover;
  aspect-ratio: 1 / 1;
}

.gigs-container .gigs a article .gig__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs-container .gigs a article .gig__info .gig__date {
  padding: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px dashed #0A3140;
}

.gigs-container .gigs a article .gig__info .gig__date > span {
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  margin-right: auto;
}

.gigs-container .gigs a article .gig__info .gig__date > span:not(:last-child) {
  position: relative;
}

.gigs-container .gigs a article .gig__info .gig__date > span:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -0.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 0.5rem;
  height: 2rem;
  background-color: #0A3140;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs-container .gigs a article .gig__info .gig__date .gig__month {
  margin-left: 2rem;
}

.gigs-container .gigs a article .gig__info .gig__date .gig__year {
  margin-left: 4rem;
}

.gigs-container .gigs a article .gig__info .gig__bands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.gigs-container .gigs a article .gig__info .gig__bands .gig__headliner {
  font-size: 5rem;
  line-height: 1;
  font-family: "Pettingill";
}

.gigs-container .gigs a article .gig__info .gig__bands .gig__headliner span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: "Pettingill";
}

.gigs-container .gigs a article .gig__info .gig__bands .gig__support {
  font-size: 2.5rem;
  font-family: "Pettingill";
}

.gigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px dashed #0A3140;
  margin-bottom: 2rem;
}

.gigs a {
  color: #0A3140;
  text-decoration: none;
  background-color: #EBF2FA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs a:not(:last-child) {
  border-bottom: 1px dashed #0A3140;
}

.gigs a:hover {
  background-color: #c2d7f0;
}

.gigs a:hover article .gig__info .gig__date > span:not(:last-child)::after {
  right: 1.5rem;
}

.gigs a:hover article img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.gigs a article {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs a article img {
  max-width: 200px;
  height: auto;
  border-right: 1px dashed #0A3140;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs a article .gig__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs a article .gig__info .gig__date {
  padding: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px dashed #0A3140;
}

.gigs a article .gig__info .gig__date > span {
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  margin-right: auto;
}

.gigs a article .gig__info .gig__date > span:not(:last-child) {
  position: relative;
}

.gigs a article .gig__info .gig__date > span:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -0.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 0.5rem;
  height: 2rem;
  background-color: #0A3140;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs a article .gig__info .gig__date .gig__month {
  margin-left: 2rem;
}

.gigs a article .gig__info .gig__date .gig__year {
  margin-left: 4rem;
}

.gigs a article .gig__info .gig__bands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.gigs a article .gig__info .gig__bands .gig__headliner {
  font-size: 5rem;
  line-height: 1;
  font-family: "Pettingill";
}

.gigs a article .gig__info .gig__bands .gig__headliner span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: "Pettingill";
}

.gigs a article .gig__info .gig__bands .gig__support {
  font-size: 2.5rem;
  font-family: "Pettingill";
}

.single-gig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.single-gig__bands-date-wrapper .single-gig__image {
  position: absolute;
  top: 0;
  left: 20vw;
  width: 80vw;
  right: 0;
  height: calc(100vh - 8rem);
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper > .container {
  overflow-y: hidden;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper .single-gig__headliner {
  padding: 0.7rem;
  line-height: 1;
  font-family: "Pettingill";
  background-color: #81b944;
  border: 1px dashed #0A3140;
  font-size: 4rem;
  margin: 1rem 0 1rem 0;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper .single-gig__headliner span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: "Pettingill";
  background-color: #81b944;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper .single-gig__support {
  padding: 0.7rem;
  font-size: 2rem;
  font-family: "Pettingill";
  margin-bottom: 1rem;
  background-color: #81b944;
  margin-right: auto;
  border: 1px dashed #0A3140;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper {
  margin-right: auto;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0A3140;
  padding: 1.5rem;
  z-index: 9;
  border: 1px dashed #EBF2FA;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation {
  font-size: 1.2rem;
  font-family: "Pettingill";
  color: #EBF2FA;
  margin: 0 auto 0 2rem;
  position: relative;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::before, .single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::after {
  content: ". . . . .";
  position: absolute;
  bottom: 21%;
  letter-spacing: -2px;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::before {
  left: -2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::after {
  right: -2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span {
  font-size: 2.4rem;
  font-weight: 800;
  display: inline;
  color: #EBF2FA;
  line-height: 1;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span:not(:last-child) {
  position: relative;
  margin-right: 1.8rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0.8rem;
  right: -1.9rem;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
  width: 1.8rem;
  height: 0.4rem;
  background-color: #EBF2FA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span .gig__month {
  margin-left: 2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span .gig__year {
  margin-left: 4rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__venue {
  font-size: 2.4rem;
  font-weight: 800;
  color: #EBF2FA;
  line-height: 1;
  margin-bottom: 2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__timings {
  margin-bottom: 1.5rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__timings .single-gig__timing span:first-child {
  font-size: 1rem;
  font-weight: 500;
  color: #EBF2FA;
  width: 3.8rem;
  display: inline-block;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__timings .single-gig__timing span:last-child {
  font-size: 1.7rem;
  font-weight: 800;
  color: #EBF2FA;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__ticket-prices > p {
  color: #EBF2FA;
  font-size: 1.6rem;
  font-weight: 800;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__ticket-prices > p .single-gig__ticket-type {
  font-size: 0.8rem;
  font-weight: 500;
  color: #EBF2FA;
  margin-left: 0.3rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__ticket-button-wrapper {
  border: 1px dashed #0A3140;
  border-top: 0;
  width: 100%;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__ticket-button-wrapper button {
  width: 100%;
  height: 3rem;
}

.single-gig__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
}

.single-gig__description section:not(:last-child) {
  margin-bottom: 4rem;
}

.single-gig__description section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 5px solid #0A3140;
}

.single-gig__description section header h2 {
  font-size: 3rem;
  font-family: "Pettingill";
  padding-right: 2rem;
}

.single-gig__description section header .single-gig__social-media-wrapper {
  border-left: 5px solid #0A3140;
  font-size: 2rem;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-gig__description section header .single-gig__social-media-wrapper a:not(:last-child) {
  margin-right: 1rem;
}

.single-gig__description section header .single-gig__social-media-wrapper a:hover i {
  color: #11536c;
}

.single-gig__description section p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.single-gig__description section p:not(:last-child) {
  margin-bottom: 1rem;
}

.news__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.news__wrapper .news__link {
  text-decoration: none;
}

.news__wrapper .news__link:not(:first-child) {
  aspect-ratio: 1/1;
}

.news__wrapper .news__link:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  aspect-ratio: 3 / 1;
}

.news__wrapper .news__link:hover .news__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news__wrapper .news__link:hover .news__item .news__content {
  bottom: 3rem;
}

.news__wrapper .news__link .news__item {
  border: 1px dashed #EBF2FA;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.news__wrapper .news__link .news__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.news__wrapper .news__link .news__item .news__content {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.news__wrapper .news__link .news__item .news__content p {
  background-color: #81b944;
  padding: 0.4rem;
  font-weight: 800;
  display: inline-block;
  margin-right: auto;
  border: 1px dashed #0A3140;
  border-bottom: 0;
}

.news__wrapper .news__link .news__item .news__content p span:not(:last-child) {
  border-right: 1px dashed #0A3140;
  padding-right: 0.4rem;
}

.news__wrapper .news__link .news__item .news__content h3 {
  background-color: #81b944;
  font-size: 3rem;
  padding: 0.8rem;
  display: inline-block;
  margin-right: auto;
  line-height: 1;
  font-family: 'Pettingill';
  border: 1px dashed #0A3140;
}

.single-news__image {
  width: 100%;
  height: 70vh;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px dashed #0A3140;
}

.single-news__image header {
  background-color: #EBF2FA;
  margin: 0 auto -1px 0;
  padding: 2rem;
  border: 1px dashed #0A3140;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 70%;
  background-color: #81b944;
}

.single-news__image header::after {
  content: '';
  position: absolute;
  height: 1rem;
  width: 60%;
  bottom: -0.5rem;
  left: 2rem;
  background-color: #0A3140;
}

.single-news__image header time {
  margin-right: auto;
  padding-bottom: 0.5rem;
  border-bottom: 0.5rem solid #0A3140;
  margin-bottom: 1.8rem;
}

.single-news__image header time span {
  font-size: 1.5rem;
  font-weight: bold;
}

.single-news__image header time span:not(:last-child) {
  position: relative;
  margin-right: 1rem;
}

.single-news__image header time span:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -0.8rem;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
  height: 100%;
  width: 0.3rem;
  background-color: #0A3140;
}

.single-news__image header h1 {
  line-height: 1;
  font-family: 'Pettingill';
  font-size: 6rem;
  margin: 0;
}

.single-news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  border: 1px dashed #0A3140;
  border-top: 0;
  width: 80%;
  margin-right: auto;
  margin-bottom: 4rem;
  background-color: #81b944;
}

.single-news__body h2 {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.single-news__body p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.single-news__body p:not(:last-child) {
  margin-bottom: 1rem;
}

.single-news__other-items {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
}

.single-news__other-items h2 {
  font-family: 'Pettingill';
  font-size: 3rem;
  padding: 2rem 2rem 0.5rem 2rem;
}

.single-news__other-items a {
  padding: 2rem;
  border-bottom: 1px dashed #0A3140;
  border-right: 1px dashed #0A3140;
  border-left: 0;
  text-decoration: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.single-news__other-items a:hover {
  background-color: #c2d7f0;
}

.single-news__other-items a:hover p {
  margin-left: 1rem;
}

.single-news__other-items a:first-of-type {
  border-top: 1px dashed #0A3140;
}

.single-news__other-items a time {
  margin-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 1px dashed #0A3140;
}

.single-news__other-items a time span:not(:last-child) {
  border-right: 1px dashed #0A3140;
  padding-right: 0.5rem;
}

.single-news__other-items a img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.single-news__other-items a h3 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.single-news__other-items a p {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.about-us__content p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.about-us__content p:not(:last-child) {
  margin-bottom: 1rem;
}

.contact__message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact__link {
  font-size: 1.1rem;
}

.contact__link a {
  text-decoration: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contact__link a:hover {
  padding-left: 1rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.contact__form label {
  margin-bottom: 0.5rem;
}

.contact__form input, .contact__form textarea {
  margin-bottom: 1rem;
}

footer {
  padding: 3rem 0;
  background-color: #0A3140;
  width: 100vw;
}

footer p, footer a {
  color: #EBF2FA;
  font-size: 1.4rem;
}
/*# sourceMappingURL=app.css.map */