@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Pettingill";
  src: url("/assets/fonts/PettingillCF-Bold.otf");
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  color: #0B3954;
}

fieldset {
  border: 0;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: 0;
}

button, input:not([type="file"]), textarea, select {
  padding: 0.5rem 0.8rem;
}

button {
  background-color: #EE6123;
  font-size: 1.4rem;
  color: #0B3954;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}

button:hover {
  background-color: #ce4a10;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #BFD7EA;
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1380px) {
  .container {
    max-width: calc(1280px - 2rem);
  }
}

@media (max-width: 600px) {
  .container {
    max-width: calc(100vw - 40px);
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  background-color: #0B3954;
  color: #BFD7EA;
  border-top: 1px dashed #BFD7EA;
  border-bottom: 1px dashed #BFD7EA;
  width: 100vw;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-family: "Pettingill";
  font-size: 3rem;
  line-height: normal;
  position: relative;
  color: #BFD7EA;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 1.5rem;
}

header .logo span {
  font-family: "Pettingill";
  position: absolute;
  top: 5.2rem;
  left: 50%;
  color: #BFD7EA;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header nav ul li {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li:first-child a {
  border-left: 1px dashed #BFD7EA;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 3rem;
  height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-right: 1px dashed #BFD7EA;
  overflow: hidden;
}

header nav ul li a span {
  color: #BFD7EA;
}

header nav ul li a:hover {
  background-color: #115881;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.tns-outer {
  position: relative;
  margin-bottom: 4rem;
  overflow: auto !important;
}

.tns-outer .tns-controls {
  position: absolute;
  z-index: 9;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tns-outer .tns-ovh {
  overflow: visible !important;
  overflow-x: hidden !important;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide {
  aspect-ratio: 16/5;
  height: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__image {
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
  background-position: center center;
  background-size: cover;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information {
  position: absolute;
  bottom: -4rem;
  right: 4rem;
  width: 500px;
  padding: 1rem;
  background-color: #EE6123;
  color: #0B3954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9;
  border: 1px dashed #0B3954;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information .recent-gigs-slider__date {
  position: absolute;
  font-weight: 800;
  padding: 0.5rem;
  border: 1px dashed #0B3954;
  border-right: 0;
  top: -1px;
  right: calc(100% + 1px);
  font-size: 1.4rem;
  background-color: #EE6123;
  color: #0B3954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information .recent-gigs-slider__date > span {
  display: inline;
  text-align: center;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__information .recent-gigs-slider__date > span:not(:last-child) {
  position: relative;
  border-bottom: 1px dashed #0B3954;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3, .tns-outer .recent-gigs-slider .recent-gigs-slider__slide h4, .tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3 span {
  font-family: "Pettingill";
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3 {
  font-size: 3rem;
  margin-bottom: 0;
  line-height: 1;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h3 span {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__ticket-btn {
  width: 100%;
  height: 3rem;
  background-color: #0B3954;
  color: #BFD7EA;
  text-transform: uppercase;
}

.tns-outer .recent-gigs-slider .recent-gigs-slider__slide .recent-gigs-slider__ticket-btn:hover {
  background-color: #082a3d;
}

.news-recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.news-recent h2 {
  margin-bottom: 2rem;
}

.news-recent__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.news-recent__wrapper .news-recent__link {
  border: 1px dashed #BFD7EA;
  background-color: #0B3954;
  display: block;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.news-recent__wrapper .news-recent__link * {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.news-recent__wrapper .news-recent__link:hover {
  background-color: #082a3d;
}

.news-recent__wrapper .news-recent__link:hover .news-recent__read-more {
  margin-left: 1rem;
}

.news-recent__wrapper .news-recent__link:hover img {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.news-recent__wrapper .news-recent__link article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.news-recent__wrapper .news-recent__link article img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-bottom: 1px dashed #BFD7EA;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper {
  padding: 2rem 1rem;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: #BFD7EA;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper .news-recent__read-more {
  color: #BFD7EA;
}

.news-recent__wrapper .news-recent__link article .news-recent__title-wrapper .news-recent__read-more i {
  margin: 0 0.5rem 0 0.3rem;
  color: #BFD7EA;
}

.news-recent__wrapper .news-recent__link article .news-recent__date {
  font-size: 1.4rem;
  margin-top: auto;
  border-top: 1px dashed #BFD7EA;
  background-color: #0B3954;
}

.news-recent__wrapper .news-recent__link article .news-recent__date span {
  color: #BFD7EA;
  padding: 1rem;
  border-right: 1px dashed #BFD7EA;
  display: inline-block;
}

.gigs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.gigs-container .gigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px dashed #0B3954;
}

.gigs-container .gigs a {
  color: #0B3954;
  text-decoration: none;
  background-color: #BFD7EA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs-container .gigs a:not(:last-child) {
  border-bottom: 1px dashed #0B3954;
}

.gigs-container .gigs a:hover {
  background-color: #99bfdd;
}

.gigs-container .gigs a:hover article .gig__info .gig__date > span:not(:last-child)::after {
  right: 1.5rem;
}

.gigs-container .gigs a:hover article img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.gigs-container .gigs a article {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs-container .gigs a article .gig__image-wrapper {
  min-width: 200px;
  height: auto;
  border-right: 1px dashed #0B3954;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-position: center center;
  background-size: cover;
}

.gigs-container .gigs a article .gig__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs-container .gigs a article .gig__info .gig__date {
  padding: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px dashed #0B3954;
}

.gigs-container .gigs a article .gig__info .gig__date > span {
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  margin-right: auto;
}

.gigs-container .gigs a article .gig__info .gig__date > span:not(:last-child) {
  position: relative;
}

.gigs-container .gigs a article .gig__info .gig__date > span:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -0.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 0.5rem;
  height: 2rem;
  background-color: #0B3954;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs-container .gigs a article .gig__info .gig__date .gig__month {
  margin-left: 2rem;
}

.gigs-container .gigs a article .gig__info .gig__date .gig__year {
  margin-left: 4rem;
}

.gigs-container .gigs a article .gig__info .gig__bands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.gigs-container .gigs a article .gig__info .gig__bands .gig__headliner {
  font-size: 5rem;
  line-height: 1;
  font-family: "Pettingill";
}

.gigs-container .gigs a article .gig__info .gig__bands .gig__headliner span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: "Pettingill";
}

.gigs-container .gigs a article .gig__info .gig__bands .gig__support {
  font-size: 2.5rem;
  font-family: "Pettingill";
}

.gigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px dashed #0B3954;
  margin-bottom: 2rem;
}

.gigs a {
  color: #0B3954;
  text-decoration: none;
  background-color: #BFD7EA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs a:not(:last-child) {
  border-bottom: 1px dashed #0B3954;
}

.gigs a:hover {
  background-color: #99bfdd;
}

.gigs a:hover article .gig__info .gig__date > span:not(:last-child)::after {
  right: 1.5rem;
}

.gigs a:hover article img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.gigs a article {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs a article img {
  max-width: 200px;
  height: auto;
  border-right: 1px dashed #0B3954;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs a article .gig__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gigs a article .gig__info .gig__date {
  padding: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px dashed #0B3954;
}

.gigs a article .gig__info .gig__date > span {
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  margin-right: auto;
}

.gigs a article .gig__info .gig__date > span:not(:last-child) {
  position: relative;
}

.gigs a article .gig__info .gig__date > span:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -0.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 0.5rem;
  height: 2rem;
  background-color: #0B3954;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gigs a article .gig__info .gig__date .gig__month {
  margin-left: 2rem;
}

.gigs a article .gig__info .gig__date .gig__year {
  margin-left: 4rem;
}

.gigs a article .gig__info .gig__bands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.gigs a article .gig__info .gig__bands .gig__headliner {
  font-size: 5rem;
  line-height: 1;
  font-family: "Pettingill";
}

.gigs a article .gig__info .gig__bands .gig__headliner span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: "Pettingill";
}

.gigs a article .gig__info .gig__bands .gig__support {
  font-size: 2.5rem;
  font-family: "Pettingill";
}

.single-gig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-gig__bands-date-wrapper {
  min-height: 70vh;
}

.single-gig__bands-date-wrapper .single-gig__image {
  position: absolute;
  top: 0;
  left: 10vw;
  height: 90%;
  width: 70vw;
  min-height: 70vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper .single-gig__headliner {
  font-size: 5rem;
  padding: 0.7rem;
  line-height: 1;
  font-family: "Pettingill";
  background-color: #EE6123;
  margin: 4rem 0 1rem 0;
  border: 1px dashed #0B3954;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper .single-gig__headliner span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: "Pettingill";
  background-color: #EE6123;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__bands-wrapper .single-gig__support {
  padding: 1rem;
  font-size: 2.5rem;
  font-family: "Pettingill";
  margin-bottom: 2rem;
  background-color: #EE6123;
  margin-right: auto;
  border: 1px dashed #0B3954;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper {
  margin-right: auto;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0B3954;
  padding: 2rem;
  z-index: 9;
  border: 1px dashed #BFD7EA;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation {
  font-size: 1.5rem;
  font-family: "Pettingill";
  color: #BFD7EA;
  margin: 0 auto 0 2rem;
  position: relative;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::before, .single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::after {
  content: ". . . . .";
  position: absolute;
  bottom: 21%;
  letter-spacing: -2px;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::before {
  left: -2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__explanation::after {
  right: -2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span {
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  color: #BFD7EA;
  line-height: 1;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span:not(:last-child) {
  position: relative;
  margin-right: 1.8rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 1.1rem;
  right: -1.9rem;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
  width: 2rem;
  height: 0.5rem;
  background-color: #BFD7EA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span .gig__month {
  margin-left: 2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__date > span .gig__year {
  margin-left: 4rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__venue {
  font-size: 3rem;
  font-weight: 800;
  color: #BFD7EA;
  line-height: 1;
  margin-bottom: 2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__timings {
  margin-bottom: 2rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__timings .single-gig__timing span:first-child {
  font-size: 1rem;
  font-weight: 500;
  color: #BFD7EA;
  width: 60px;
  display: inline-block;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__timings .single-gig__timing span:last-child {
  font-size: 2rem;
  font-family: "Pettingill";
  color: #BFD7EA;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__ticket-prices > span {
  color: #BFD7EA;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  display: block;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__ticket-prices > span .single-gig__ticket-type {
  font-size: 0.9rem;
  color: #BFD7EA;
  margin-left: 0.3rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__extra-info-wrapper .single-gig__ticket-prices > span:first-child {
  margin-bottom: 0.8rem;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__ticket-button-wrapper {
  border: 1px dashed #0B3954;
  border-top: 0;
  width: 100%;
}

.single-gig__bands-date-wrapper .single-gig__bands-date-wrapper .single-gig__info-button-wrapper .single-gig__ticket-button-wrapper button {
  width: 100%;
  height: 4rem;
}

.single-gig__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto 4rem auto;
}

.single-gig__description p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.single-gig__description p:not(:last-child) {
  margin-bottom: 2rem;
}

footer {
  padding: 2rem 0;
  background-color: #0B3954;
  width: 100vw;
}

footer p {
  color: #BFD7EA;
}
/*# sourceMappingURL=app.css.map */