.about-us__content {
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;

    p {
        font-size:1.5rem;
        line-height: 1.5;
        
        &:not(:last-child) {
            margin-bottom:1rem;
        }
    }
}