.contact__message {
    font-size: 1.5rem;
    margin-bottom:1rem;
}

.contact__link {
    font-size: 1.1rem;

    a {
        text-decoration: none;
        transition: all 1s ease-in-out;
        border-bottom: 0;

        &:hover {
            padding-left:1rem;
            border-bottom: 0;
        }
    }
}

.contact__form-inner {
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;
    width: 100%;

    label {
        margin-bottom: 0.5rem;
    }

    input, textarea {
        margin-bottom: 1rem;
    }

}