.news__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:4rem;

    @media (min-width:$screen-md){
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:$screen-md){
        grid-template-columns: repeat(2, 1fr);
    }

    .news__link {
        text-decoration: none;

        &:not(:first-child) {

            @media (min-width:$screen-xs){
                aspect-ratio: 1/1;
            }
            
            @media (max-width:$screen-xs){
                aspect-ratio: 2/3;
            }
        }

        &:first-child {
            grid-column: 1 / 4;
            aspect-ratio: 3 / 1;

            @media (min-width:$screen-md){
                grid-column: 1 / 4;
                aspect-ratio: 3 / 1;
            }
        
            @media (max-width:$screen-md){
                grid-column: 1 / 3;
            }
            
            @media (max-width:$screen-md) and (min-width:$screen-xs){
                aspect-ratio: 2 / 1;
            }

            @media (max-width:$screen-xs){
                aspect-ratio: 3 / 2;
            }
        }

        &:hover {
            .news__image {
                transform: scale(1.1);
            }

            .news__item .news__content {
                bottom:3rem;
            }
        }

        .news__item {
            border:1px dashed $c-light;
            width: 100%;
            height: 100%;
            position:relative;
            overflow:hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                transition: all 1s ease-in-out;
            }

            .news__content {
                position: absolute;
                top: 1rem;
                left: 1rem;
                right: 1rem;
                bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                transition: all 1s ease-in-out;

                p {
                    background-color: $c-secondary;
                    padding:0.4rem;
                    font-weight: 800;
                    display: inline-block;
                    margin-right: auto;
                    border: 1px dashed $c-dark;
                    border-bottom: 0;

                    @media (max-width:$screen-xs){
                        display: none;
                    }

                    span {
                        &:not(:last-child){
                            border-right: 1px dashed $c-dark;
                            padding-right: 0.4rem;
                        }
                    }
                }
    
                h3 {
                    background-color: $c-secondary;
                    padding:0.8rem;
                    display: inline-block;
                    margin-right: auto;
                    line-height: 1;
                    font-family: 'Pettingill';
                    border: 1px dashed $c-dark;

                    @media (min-width:$screen-md){
                        padding:0.8rem;
                        font-size:3rem;
                    }

                    @media (max-width:$screen-md) and (min-width:$screen-xs){
                        padding:0.5rem;
                        font-size:2rem;
                    }

                    @media (max-width:$screen-xs){
                        padding:0.5rem;
                        font-size:1.6rem;
                    }
                }
            }
        }
    }
}