.news__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:4rem;

    .news__link {
        text-decoration: none;

        &:not(:first-child) {
            aspect-ratio: 1/1;
        }

        &:first-child {
            grid-column: 1 / 4;
            aspect-ratio: 3 / 1;
        }

        &:hover {
            .news__image {
                transform: scale(1.1);
            }

            .news__item .news__content {
                bottom:3rem;
            }
        }

        .news__item {
            border:1px dashed $c-light;
            width: 100%;
            height: 100%;
            position:relative;
            overflow:hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                transition: all 1s ease-in-out;
            }

            .news__content {
                position: absolute;
                top: 1rem;
                left: 1rem;
                right: 1rem;
                bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                transition: all 1s ease-in-out;

                p {
                    background-color: $c-secondary;
                    padding:0.4rem;
                    font-weight: 800;
                    display: inline-block;
                    margin-right: auto;
                    border: 1px dashed $c-dark;
                    border-bottom: 0;

                    span {
                        &:not(:last-child){
                            border-right: 1px dashed $c-dark;
                            padding-right: 0.4rem;
                        }
                    }
                }
    
                h3 {
                    background-color: $c-secondary;
                    font-size:3rem;
                    padding:0.8rem;
                    display: inline-block;
                    margin-right: auto;
                    line-height: 1;
                    font-family: 'Pettingill';
                    border: 1px dashed $c-dark;
                }
            }
            
        }
    }
}