
.single-show {
    display: flex;
    flex-direction: column;
    position: relative;

    &__bands-date-wrapper {

        @media (min-width: $screen-md){
            min-height: calc(100vh - 8rem);
        }

        @media (max-width: $screen-md){
            position:relative;
            min-height: 80vh;
            margin-bottom:2rem;
        }

        .container {
            position:initial;

            .single-show__image {
                position: absolute;
                top:0;
                right:0;
                height:calc(100vh - 8rem);
                z-index: -1;
                background-position: center center;
                background-size: cover;

                @media (min-width: $screen-lg) {
                    left:15vw;
                    max-width:85vw;
                }

                @media (max-width: $screen-lg) and (min-width: $screen-md) {
                    left:10vw;
                    max-width:90vw;
                }

                @media (min-width: $screen-md){
                    width: 100%;
                    height:calc(100vh - 8rem);
                }

                @media (max-width: $screen-md){
                    width:100vw;
                    height:80vh;
                }
            }
            
            .single-show__bands-date-wrapper {
                display: flex;
                flex-direction: column;

                @media (max-width: $screen-md){
                    width: 100%;
                }

                > .container {
                    overflow-y: hidden;
                }

                .single-show__bands-wrapper {
                    display:flex;
                    flex-direction: column;
                    z-index: 9;

                    
                    @media (max-width: $screen-md){
                        position:absolute;
                        bottom:0;
                    }
    
                    .single-show__headliner {                        
                        padding: 0.7rem;
                        line-height: 1;
                        font-family: "Pettingill";
                        font-size:4rem;
                        margin: 1rem 0 1rem 0;

                        @media (min-width: $screen-md){
                            background-color: $c-secondary;
                            border: 1px dashed $c-dark;
                        }

                        @media (max-width: $screen-md){
                            background-color: $c-dark;
                            color:$c-light;
                        }
                
                        span {
                            font-size:1.5rem;
                            margin-left:0.5rem;
                            font-family: "Pettingill";

                            @media (min-width: $screen-md){
                                background-color: $c-secondary;
                            }
    
                            @media (max-width: $screen-md){
                                background-color: $c-dark;
                                color:$c-light;
                            }
                        }
                    }
                    .single-show__support {
                        padding:0.7rem;
                        font-size:2rem;
                        font-family: "Pettingill";
                        margin-bottom:1rem;
                        margin-right: auto;
                        border: 1px dashed $c-dark;

                        @media (min-width: $screen-md){
                            border: 1px dashed $c-dark;
                            background-color: $c-secondary;
                        }

                        @media (max-width: $screen-md){
                            background-color: $c-dark;
                            color:$c-light;
                        }
                    }
                }
                .single-show__info-button-wrapper {
                    margin-right:auto;

                    .single-show__extra-info-wrapper {
                        display: flex;
                        flex-direction: column;
                        background-color: $c-dark;                
                        z-index: 9;

                        @media (min-width: $screen-md){
                            border: 1px dashed $c-light;
                            padding: 1.5rem;             
                        }

                        @media (max-width: $screen-md){
                            padding: 1rem;
                            position: absolute;
                            left:0;
                            top: 1rem;
                        }

                        .single-show__explanation {
                            font-size: 1.2rem;
                            font-family: "Pettingill";
                            color: $c-light;
                            margin: 0 auto 0 2rem;
                            position: relative;

                            @media (max-width: $screen-md){
                                display: none;
                            }

                            &::before, &::after {
                                content: ". . . . .";
                                position: absolute;
                                bottom:21%;
                                letter-spacing: -2px;
                            }
                            &::before {
                                left: -2rem;
                            }
                            &::after {
                                right: -2rem;
                            }
                        }

                        .single-show__date {
                            display: flex;

                            @media (min-width: $screen-md){
                                margin-bottom:1.5rem;
                            }
                
                            > span {
                                font-size:2.4rem;
                                font-weight: 800;
                                display: inline;
                                color: $c-light;
                                line-height: 1;
                
                                &:not(:last-child){
                                    position:relative;
                                    margin-right:1.8rem;
                                    
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        bottom: 0.8rem;
                                        right: -1.9rem;
                                        transform: rotate(-38deg);
                                        width: 1.8rem;
                                        height: 0.4rem;
                                        background-color: $c-light;
                                        transition: all 0.5s ease-in-out;
                                    }
                                    
                                }
                
                                .show__month {
                                    margin-left:2rem;
                                }
                
                                .show__year {
                                    margin-left:4rem;
                                }
                            }
                        }

                        .single-show__venue {
                            font-size:2.4rem;
                            font-weight: 800;
                            color: $c-light;
                            line-height: 1;
                            margin-bottom:2rem;

                            @media (max-width: $screen-md){
                                display: none;
                            }
                        }

                        .single-show__timings {
                            
                            margin-bottom:1.5rem;

                            @media (max-width: $screen-md){
                                display: none;
                            }

                            .single-show__timing {

                                span:first-child {
                                    font-size:1rem;
                                    font-weight: 500;
                                    color: $c-light;
                                    width: 3.8rem;
                                    display: inline-block;
                                }
        
                                span:last-child {
                                    font-size:1.7rem;
                                    font-weight: 800;
                                    color: $c-light;
                                }
                            } 
                        }

                        .single-show__ticket-prices {

                            @media (max-width: $screen-md){
                                display: none;
                            }

                            > p {
                                color: $c-light;
                                font-size: 1.6rem;
                                font-weight: 800;
                                
                                .single-show__ticket-type {
                                    font-size:0.8rem;
                                    font-weight: 500;
                                    color: $c-light;
                                    margin-left:0.3rem;
                                }
                            }
                        }
                    }

                    .single-show__ticket-button-wrapper {
                        
                        border: 1px dashed $c-dark;
                        border-top:0;

                        
                        @media (min-width: $screen-md){
                            border-top:0;
                        }

                        @media (max-width: $screen-md){
                            width:auto;
                            position:absolute;
                            top:100%;
                        }

                        button {

                            i, span {
                               color: currentColor;
                            }

                            @media (min-width: $screen-md){
                                width:100%;
                                height:3rem;
                            }

                            @media (max-width: $screen-md){
                                width: 100%;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                padding: 1rem 0.6rem;
                                gap: 0.6rem;

                                span {
                                    margin-top:2px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    &__description {
        display:flex;
        flex-direction: column;
        margin: 2rem auto;

        section {

            &:not(:last-child) {
                margin-bottom: 4rem;
            }

            @media (max-width: $screen-md){
                &:nth-last-child(2){
                    margin-bottom: 2rem;
                }
            }

            header {
                display:flex;
                margin-bottom: 1rem;

                @media (min-width: $screen-sm){
                    border-bottom: 5px solid $c-dark;
                }

                @media (max-width: $screen-sm){
                    flex-direction: column;
                }

                h2 {
                    font-size: 3rem;
                    font-family: "Pettingill";
                    padding-right:2rem;
                    line-height: 1;
    
                    @media (max-width: $screen-sm){
                        border-bottom: 5px solid $c-dark;
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                    }
    
                }

                .single-show__social-media-wrapper {
                    display: flex;
                    align-items: center;
                    font-size: 2rem;

                    @media (min-width: $screen-sm){
                        margin-left: auto;
                        border-left: 5px solid $c-dark;
                        padding-left: 2rem;
                    }

                    @media (max-width: $screen-sm){
                        
                    }

                    a:not(:last-child) {
                        margin-right:1rem;    
                    }

                    a:hover {
                        i {
                            color: lighten($c-dark, 10%);
                        }
                    }
                }
            }

            p {
                font-size:1.4rem;
    
                &:not(:last-child) {
                    margin-bottom:1rem;
                }
            }

            &.single-show__more-info--mobile {
                display: none;

                @media (max-width: $screen-md){
                    display: flex;
                    flex-direction: column;
                    padding-top: 2rem;
                    border-top: 1px dashed $c-dark;	
                    margin-top: 4rem;

                    .single-show__explanation {
                        padding: 0.5rem;
                        margin-right:auto;
                        background-color: $c-secondary;
                        font-size:1rem;
                        margin-bottom:0;
                    }

                    .single-show__venue {
                        padding: 0.8rem 0.5rem;
                        margin-right:auto;
                        background-color: $c-dark;
                        color: $c-light;
                        font-size:1.6rem;
                        margin-bottom:2rem;
                    }

                    .single-show__timings {
                        margin-bottom:2rem;

                        .single-show__timing {
                            display:flex;

                            &:not(:last-child){
                                margin-bottom:0.4rem;
                            }

                            > time {
                                font-size:1rem;
                                font-weight: 500;
                                width: 3.8rem;
                                display: inline-block;
                                border: 1px dashed $c-dark;
                                border-right:none;
                                padding: 0.5rem;
                                width: 50px;
                                display:flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
    
                            > span:last-child {
                                font-weight: 800;
                                padding: 0.5rem 0.8rem;
                                background-color: $c-dark;
                                display: flex;
                                align-items: center;

                                span {
                                    color: $c-light;
                                }
                            }

                            &:not(:first-child){
                                > span:last-child {
                                    font-size:2.4rem;
                                }
                            }

                            &:first-child {
                                > span:last-child {
                                    font-size:1.2rem;
                                }

                            }
                        }
                    }

                    .single-show__ticket-prices {
                        margin-right: 0.5rem;
                        font-weight: 800;
                        margin-bottom: 1rem;

                        p {
                            font-size:3rem;
                            font-weight: 800;
                            margin-bottom: 0;
                            line-height:1.2;
                            margin-right:auto;
                            display:flex;

                            &:not(:last-child){
                                margin-bottom:0.4rem;
                            }

                            span {

                                &:first-child {            
                                    background-color: $c-dark;
                                    color: $c-light;
                                    padding: 0.5rem 0.8rem;
                                }

                                &:last-child { 
                                    font-size:1rem;
                                    border: 1px dashed $c-dark;
                                    border-left:0;
                                    padding: 0.5rem;
                                    margin-top:auto;
                                }
                            }
                        }
                    }

                    button {
                        padding: 1rem 2rem;
                        width:100%;
                    }
                }
            }
        }

        
    }
}

