header.nav-header {

    background-color: $c-dark;
    color: $c-light;
    border-bottom:1px dashed $c-light;
    width:100vw;

    .container {
        display: flex;
        justify-content: space-between;
    }
    a {
        padding-top:1rem;
        padding-bottom:1rem;
        display:flex;
        align-items: center;
        transition: 1s all ease-in-out;

        img {
            height:60px;
            width:auto;
            margin-left:1rem;
        }

        &:hover {
            opacity:0.8;
        }

        .logo {
            font-family: "Pettingill";
            font-size: 3rem;
            line-height: normal;
            position: relative;
            color: $c-secondary;
            margin-bottom: 2.4rem;
            display: block;
            
            span {
                font-family: "Pettingill";
                position: absolute;
                top: 2rem;
                left: 50%;
                color: $c-secondary;
            }
        }
    }
    
    nav {
        display: flex;
        align-items: center;
        overflow: hidden;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            height:100%;
    
            li {
                position:relative;
                height: 100%;
                display:flex;
                align-items: center;

                &:first-child a {
                    border-left:1px dashed $c-light;
                }
                
                a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    padding: 0 3rem;
                    height: 140%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    border-right: 1px dashed $c-light;
                    overflow: hidden;

                    span {
                        color:$c-light;
                    }

                    &:hover {
                        background-color: lighten($c-dark, 10%);
                    }
                }
            }
        }
    }
}